<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.commentable.title %>
</p>


<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @comment.approved %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<%= link_to 'Edit', edit_commentable_comment_path %> |
<%= link_to 'Back', @commentable %>
